@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');


:root {
    --blue: #007bff;
    --gray: #9DA0A3;
    --pink: #EC497C;
}
h1,h2,h3,h4,h5,p{
    font-family: 'Poppins', sans-serif;
}
* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Poppins', sans-serif;
}

.title {
    color: var(--blue);
}
.subtitle {
    color: var(--gray);
}
/* .Review-section:hover{
    background-color: var(--blue);
} */

.order-menu-header {
    background: rgb(7,63,106);
    background: linear-gradient(40deg, rgba(7,63,106,1) 41%, rgba(20,138,223,1) 100%);
}