@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

html{
    scroll-behavior: smooth ;
}
:root {
    --blue: #007bff;
    --gray: #9DA0A3;
    --pink: #EC497C;
}
.btn-primary{
    background-color: var(--blue) !important;
    border-color: var(--blue) !important;
}
.btn-secondary{
    background-color: var(--pink) !important;
    border-color: var(--pink) !important;
}
h1,h2,h3,h4,h5,p{
    font-family: 'Poppins', sans-serif;
}
* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Poppins', sans-serif;
}

.navbar{
    background: rgb(7,63,106);
    background: linear-gradient(40deg, rgba(7,63,106,1) 41%, rgba(20,138,223,1) 100%);
}

.title {
    color: var(--blue);
}
.subtitle {
    color: var(--gray);
}
/* .Review-section:hover{
    background-color: var(--blue);
} */

.order-menu-header {
    background: rgb(7,63,106);
    background: linear-gradient(40deg, rgba(7,63,106,1) 41%, rgba(20,138,223,1) 100%);
}
#header{
    background: rgb(7,63,106);
    background: linear-gradient(40deg, rgba(7,63,106,1) 41%, rgba(20,138,223,1) 100%);
}
.logo{
    letter-spacing: 5px;
}
.divider{
    border-top: 2px solid rgba(0,0,0,.1);
}
.fa {
    padding: 15px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
 .fa {
    font-size: 0px;
    text-align: center;
    text-decoration: none;
    margin: 0px 10px;
    padding: 20px;
    border-radius: 50%;
  }
  
  .fa {
    font-size: 0px;
    text-align: center;
    text-decoration: none;
    margin: 0px 10px;
    padding: 20px;
    border-radius: 50%;
  }
  
  .fa:hover {
      color: white;
      background-color: var(--blue);
      opacity: 0.8;
  }
  .fa-instagram:hover{
    background-color: #C13584;
    color: white
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
    padding: 15px 17px;
    
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
    padding: 17px 15px;
  }

  .fa-instagram {
    background: #E1306C;
    color: white;
    padding: 16px 15px;
  }
  .order-menu-header {
    background: rgb(7,63,106);
    background: linear-gradient(40deg, rgba(7,63,106,1) 41%, rgba(20,138,223,1) 100%);
}

/*-----Media Queries-----*/
@media only screen and (max-width: 992px) {
    .order-section h3 p{
        text-align: center;
    }
}
@media only screen and (max-width: 768px) {
    .order-section{
        text-align: center;
    }
}
@media screen and (min-width: 600px) {
    .order-section h3 p{
        text-align: center;
    }
}
